@inherits System.Web.Mvc.WebViewPage<dynamic>

@{
    View.Title = "MvcContrib UI Sample";
    LayoutPage = "~/Views/Shared/_Layout.cshtml";
}

<h2>@View.Title</h2>

<p>
Use the menu items above to view the various UI-helper samples.
</p>